<!--联系我们-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>联系我们</title>
        <link rel="stylesheet" type="text/css" href="/css/public.css"/>  
    </head>
    <body>
        <% include template/menu %>
        <section>   
            <div class="topbg">
                <img src="img/contUs.png" />
            </div>
            <div class="main">
                <div class="contact">
                    <img src="img/map.png"/>
                    <h5>杭州总部联系方式</h5>
                    <p>公司地址 ： 浙江省 杭州市余杭区 文一西路996号 海创园1号楼606</p>
                    <p>客服电话 ： 0571-66667618</p>
                    <p>客服QQ  ： 1719616898</p>
                    <p>客服邮箱 ： yuyang@foxmail.com</p>
                </div>
            </div>
        </section>
        
        <article class="c_right"> 
            <ul> 
                <li class="c_r2"> 
                    <a href="" target="_blank"> 
                        <span></span> <p>QQ咨询</p> 
                    </a> 
                </li> 
                <li class="c_r3"> 
                    <a href="javascript:;"> 
                        <span></span> <p>微信咨询</p> 
                    </a> 
                    <div> <img src="img/gt_43.png" alt=""> </div> 
                </li> 
                <li class="c_r4"> 
                    <a href="javascript:;"> 
                        <span></span> <p>电话咨询</p> 
                    </a> 
                    <div> <img src="img/d5.png" alt=""> <span>1719616898</span> </div> 
                </li> 
                <li class="c_r5"> <a href="javascript:;"> <span></span> <p>返回顶部</p> </a></li> 
            </ul> 
        </article>
        <% include template/footer %>
    </body>
</html>
