<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>改图大师</title>
        <link rel="stylesheet" type="text/css" href="/css/public.css"/>
        <link rel="stylesheet" type="text/css" href="/css/index.css"/>    
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?7cc7d7766829459db531b7dca71e1c33";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </head>
    <body>
        <% include template/menu %>
        <section>   
            <div class="banner">
                <img src="img/banner1.png" />
                <div class="customized">
                    <a href="" class="privateBtn1"></a>
                </div>
            </div>
            <div class="itemList main">
                <ul>
                    <li>
                        <i class="timeFast"></i>
                        <p>处理时间快速</p>
                        <span>下单后我快速保质保量 出稿，让你满意而归</span>
                    </li>
                    <li>
                        <i class="senior"></i>
                        <p>资深设计师亲自操刀</p>
                        <span>来自国内大型互联网公司 高级设计师亲自上阵</span>
                    </li>
                    <li>
                        <i class="personality"></i>
                        <p>个性化服务齐全</p>
                        <span>根据自己的需求进行发布 或者私人定制</span>
                    </li>
                    <li>
                        <i class="encryption"></i>
                        <p>客户文件加密备份</p>
                        <span>加密保存文件，防止用户 文件丢失，可二次找回</span>
                    </li>
                </ul>
            </div>
            <div class="main demandDynamics">
                <h3>需求动态</h3>
                <table class="wtab">
                    <thead>
                        <tr class="thead">
                            <th class="demand">需求明细</th>
                            <th class="publicwidth">订单编号</th>
                            <th class="publicwidth">设计价格</th>
                            <th class="publicwidth">单份数量</th>
                            <th class="publicwidth">产品类型</th>
                            <th class="publicwidth">预估时间</th>
                            <th class="state">状态</th>
                        </tr>                       
                    </thead>
                </table>
                <p class="marginbox"></p>
                <div class="maquee">
                    <table>                     
                    <tbody>
                        <tr>
                            <td class="iconpub update">1留学音乐培训DM</td>
                            <td class="textindex">F75629</td>
                            <td class="designPrice textindex">￥480</td>
                            <td class="textindex">5个面</td>
                            <td class="textindex">修改</td>
                            <td class="textindex">1天</td>
                            <td class="statedes">进行中</td>
                        </tr>
                        <tr>
                            <td class="iconpub design">2留学音乐培训DM</td>
                            <td class="textindex">F75629</td>
                            <td class="designPrice textindex">￥500</td>
                            <td class="textindex">7个面</td>
                            <td class="textindex">修改</td>
                            <td class="textindex">3天</td>
                            <td class="complete">已完成</td>
                        </tr>
                        <tr>
                            <td class="iconpub provide">3留学音乐培训DM</td>
                            <td class="textindex">F75629</td>
                            <td class="designPrice textindex">￥800</td>
                            <td class="textindex">2个面</td>
                            <td class="textindex">修改</td>
                            <td class="textindex">1天</td>
                            <td class="statedes">进行中</td>
                        </tr>
                        <tr>
                            <td class="iconpub update">4留学音乐培训DM</td>
                            <td class="textindex">F75629</td>
                            <td class="designPrice textindex">￥450</td>
                            <td class="textindex">9个面</td>
                            <td class="textindex">修改</td>
                            <td class="textindex">6天</td>
                            <td class="statedes">进行中</td>
                        </tr>
                        <tr>
                            <td class="iconpub design">5留学音乐培训DM</td>
                            <td class="textindex">F75629</td>
                            <td class="designPrice textindex">￥300</td>
                            <td class="textindex">1个面</td>
                            <td class="textindex">修改</td>
                            <td class="textindex">5天</td>
                            <td class="complete">已完成</td>
                        </tr>
                        <tr>
                            <td class="iconpub provide">6留学音乐培训DM</td>
                            <td class="textindex">F75629</td>
                            <td class="designPrice textindex">￥180</td>
                            <td class="textindex">3个面</td>
                            <td class="textindex">修改</td>
                            <td class="textindex">7天</td>
                            <td class="statedes">进行中</td>
                        </tr>
                        <tr>
                            <td class="iconpub design">7留学音乐培训DM</td>
                            <td class="textindex">F75629</td>
                            <td class="designPrice textindex">￥150</td>
                            <td class="textindex">8个面</td>
                            <td class="textindex">修改</td>
                            <td class="textindex">2天</td>
                            <td class="complete">已完成</td>
                        </tr>
                        <tr>
                            <td class="iconpub provide">8留学音乐培训DM</td>
                            <td class="textindex">F75629</td>
                            <td class="designPrice textindex">￥100</td>
                            <td class="textindex">3个面</td>
                            <td class="textindex">修改</td>
                            <td class="textindex">8天</td>
                            <td class="statedes">进行中</td>
                        </tr>
                    </tbody>
                    </table>
                </div>  
            </div>
            <div class="main masterdata">
                <h3>大师报数据</h3>
                <div class="databg digital">
                    <div class="main">
                        <ul>
                            <li>客户文件修改  <span class="timer" data-to="8961" data-speed="3000"></span> 次</li>
                            <li>客户私人定制  <span class="timer" data-to="518" data-speed="3000"></span> 次</li>
                            <li>客户设计服务  <span class="timer" data-to="3026" data-speed="3000"></span> 次</li>
                        </ul>
                    </div>                  
                </div>
            </div>
            <div class="cooperationFive">
                <h3>合作5部曲</h3>
                <div class="fiveBg"></div>
                <p><span>声明：</span>我们不接公章，公函，证明证据，转账截图等相关图片的修改业务</p>
            </div>
        </section>
        <article class="c_right"> 
            <ul> 
                <li class="c_r2"> 
                    <a href="" target="_blank"> 
                        <span></span> <p>QQ咨询</p> 
                    </a> 
                </li> 
                <li class="c_r3"> 
                    <a href="javascript:;"> 
                        <span></span> <p>微信咨询</p> 
                    </a> 
                    <div> <img src="img/gt_43.png" alt=""> </div> 
                </li> 
                <li class="c_r4"> 
                    <a href="javascript:;"> 
                        <span></span> <p>电话咨询</p> 
                    </a> 
                    <div> <img src="img/d5.png" alt=""> <span>1719616898</span> </div> 
                </li> 
                <li class="c_r5"> <a href="javascript:;"> <span></span> <p>返回顶部</p> </a></li> 
            </ul> 
        </article>
        <% include template/footer %>
    </body>
</html>