<!--私人定制-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>私人定制</title>
        <link rel="stylesheet" type="text/css" href="/css/public.css"/>
        <link rel="stylesheet" type="text/css" href="/css/provide.css"/>     
    </head>
    <body>
        <% include template/menu %>
        <section>   
            <div class="topbg">
                <img src="img/pro_02.png" />
            </div>
            <div class="main provide">
                <h3>私人定制-针对互联网PC或APP设计开发及线下平面相关项目</h3>
                <div class="formbox">                   
                    <p class="cf"><label class="lFloat">请输入您定制项目名称：</label><input placeholder="例如：一款医药的官网设计加开发程序" type="text" /><span>*</span><i class="success"></i></p>
                    <p class="cf"><label class="lFloat">请输入您定制项目名称：</label>
                        <textarea class="cklist" placeholder="例如：参考xx项目"></textarea>
                        <span>*</span>
                        <i></i>
                    </p>
                    <p class="cf"><label class="lFloat">请输入您的QQ或微信：</label><input placeholder="例如：qq 563703966" type="text" /><span>*</span><i></i></p>
                    <p class="cf"><label class="lFloat">请输入您的手机号码：</label><input placeholder="例如：15088996633" type="text" /><span>*</span><i></i></p>
                    <a href="javascript:void(0)" class="submitBtn">立即提交</a>
                    <a href="javascript:void(0)" class="submitBtn disabled">立即提交</a>
                    <div class="successTip">亲！您的订单已提交成功，我们正在飞速联系您...</div>
                </div>
            </div>
        </section>
        <article class="c_right"> 
            <ul> 
                <li class="c_r2"> 
                    <a href="" target="_blank"> 
                        <span></span> <p>QQ咨询</p> 
                    </a> 
                </li> 
                <li class="c_r3"> 
                    <a href="javascript:;"> 
                        <span></span> <p>微信咨询</p> 
                    </a> 
                    <div> <img src="img/gt_43.png" alt=""> </div> 
                </li> 
                <li class="c_r4"> 
                    <a href="javascript:;"> 
                        <span></span> <p>电话咨询</p> 
                    </a> 
                    <div> <img src="img/d5.png" alt=""> <span>1719616898</span> </div> 
                </li> 
                <li class="c_r5"> <a href="javascript:;"> <span></span> <p>返回顶部</p> </a></li> 
            </ul> 
        </article>
        <% include template/footer %>
    </body>
</html>
