<!--人工改图页面-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>人工改图</title>
        <link rel="stylesheet" type="text/css" href="/css/public.css"/>
        <link rel="stylesheet" type="text/css" href="/css/artificialGt.css"/>        
    </head>
    <body>
        <% include template/menu %>
        <section>   
            <div class="topbg">
                <img src="img/peobg.png" />
            </div>
            <div class="main chargeStandard">
                <h3>收费标准</h3>
                <p class="message">为满足用户切身需求，提供了收费的人工改图、手工修改照片、代做PPT等服务，我们专业的设计师、<br>
工程师团队可为你进行证件照片处理、图片编辑美化、批量改图、文档转换、平面广告、UI设计等一系列服务。</p>
                <table>
                    <tr class="thbg">
                        <th class="xmName">项目名称</th>
                        <th class="detailsExplain">详细说明</th>
                        <th class="xmPrice">价格</th>
                    </tr>
                    <table class="tabcontent">
                        <tr>
                            <td>网上报名照片处理</td>
                            <td>按要求把照片修改成合格的尺寸，调整文件大小、分辨率及文件格式</td>
                            <td>￥8起</td>
                        </tr>
                        <tr class="colorbg">
                            <td>生活照转证件照、换底</td>
                            <td>把生活照片变成证件照、适当美化、替换证件照背景颜色、加正装西装</td>
                            <td>￥11起</td>
                        </tr>
                        <tr>
                            <td>网上报名照片处理</td>
                            <td>按要求把照片修改成合格的尺寸，调整文件大小、分辨率及文件格式</td>
                            <td>￥8起</td>
                        </tr>
                        <tr>
                            <td>生活照转证件照、换底</td>
                            <td>把生活照片变成证件照、适当美化、替换证件照背景颜色、加正装西装</td>
                            <td>￥11起</td>
                        </tr>
                        <tr>
                            <td>网上报名照片处理</td>
                            <td>按要求把照片修改成合格的尺寸，调整文件大小、分辨率及文件格式</td>
                            <td>￥8起</td>
                        </tr>
                        <tr>
                            <td>生活照转证件照、换底</td>
                            <td>把生活照片变成证件照、适当美化、替换证件照背景颜色、加正装西装</td>
                            <td>￥11起</td>
                        </tr>
                        <tr>
                            <td>网上报名照片处理</td>
                            <td>按要求把照片修改成合格的尺寸，调整文件大小、分辨率及文件格式</td>
                            <td>￥8起</td>
                        </tr>
                        <tr>
                            <td>生活照转证件照、换底</td>
                            <td>把生活照片变成证件照、适当美化、替换证件照背景颜色、加正装西装</td>
                            <td>￥11起</td>
                        </tr>
                    </table>
                </table>
                <div class="carefulMatter">
                    <span>注意事项：</span> 联系我们人工修改图片时，请把全部要求和原图发给我们，使用手机QQ发送图片时请选中下方“原图”后发送，微信勾选图片后、按右下方的“预览”然后选中“原图”后发送。
                </div>
                <h3>收费标准</h3>
                <p class="message">我们面向企业、学校等客户提供批量化处理图片业务，包括批量压缩图片文件大小，批量修改图片大小<br>
为统一尺寸、转换格式、批量编辑美化图片、批量替换图片内文字等服务。</p>
                <div class="batch">
                    <ul class="cf">
                        <li>
                            <p>证件照片修改</p>
                            <span>用于制作证件，快速处理</span>
                        </li>
                        <li>
                            <p>网店图片处理</p>
                            <span>按电商要求重新编辑处理</span>
                        </li>
                        <li>
                            <p>批量压缩图片</p>
                            <span>把图片都压缩到合格大小</span>
                        </li>
                        <li>
                            <p>替换图片内容</p>
                            <span>Logo和加水印，快速替换</span>
                        </li>
                        <li>
                            <p>文档格式转换</p>
                            <span>转换不同格式不同尺寸的图片</span>
                        </li>
                        <li>
                            <p>批量生成文档</p>
                            <span>根据需求，批量生成标准文档</span>
                        </li>
                    </ul>
                </div>
                <h3>PPT设计</h3>
                <p class="message">如果你不太擅长使用Office软件，或是忙于工作没有时间精力去弄PPT，那么你可以找我们为你代做PPT，<br>
只要你提供好详细内容和必要的素材，我们就可以帮助你制作出一份满意的PPT。</p>
                <div class="pptList">
                    <ul class="cf">
                        <li>
                            <a href="">
                            <img src="img/gai_05.png" />
                            <p>科技汇报展示PPT（案例）</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <img src="img/gai_07.png" />
                            <p>总结汇报PPT（案例）</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <img src="img/gai_09.png" />
                            <p>金融公司数据展示（案例）</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <img src="img/gai_14.png" />
                            <p>创意新建风格PPT（案例）</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <img src="img/gai_16.png" />
                            <p>茶文化创意PPT（案例）</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <img src="img/gai_19.png" />
                            <p>道德讲堂PTT（案例）</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <h3>微信广告设计</h3>
                <p class="message">通过制作优质广告图片、攥写优质的广告方案，并设置合适的目标人群和投放条件，<br>
能让你的品牌和产品触及亿级受众，成功开拓市场。</p>
                <div class="advertisement">
                    <ul class="cf">
                        <li><a href=""><img src="img/gai_25.png" /></a></li>
                        <li><a href=""><img src="img/gai_31.png" /></a></li>
                        <li><a href=""><img src="img/gai_28.png" /></a></li>
                    </ul>
                </div>
                <h3>GIF动画设计</h3>
                <p class="message">GIF动态广告设计30元/张起步，具体收费按动画帧数(时长)、尺寸、<br>
设计难度计算，设计素材及方案由客户提供</p>
                <div class="gifAdvertisement">
                    <ul class="cf">
                        <li><a href=""><img src="img/gif1.png" /></a></li>
                        <li><a href=""><img src="img/gif2.png" /></a></li>
                        <li><a href=""><img src="img/gif3.png" /></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <article class="c_right"> 
            <ul> 
                <li class="c_r2"> 
                    <a href="" target="_blank"> 
                        <span></span> <p>QQ咨询</p> 
                    </a> 
                </li> 
                <li class="c_r3"> 
                    <a href="javascript:;"> 
                        <span></span> <p>微信咨询</p> 
                    </a> 
                    <div> <img src="img/gt_43.png" alt=""> </div> 
                </li> 
                <li class="c_r4"> 
                    <a href="javascript:;"> 
                        <span></span> <p>电话咨询</p> 
                    </a> 
                    <div> <img src="img/d5.png" alt=""> <span>1719616898</span> </div> 
                </li> 
                <li class="c_r5"> <a href="javascript:;"> <span></span> <p>返回顶部</p> </a></li> 
            </ul> 
        </article>
        <% include template/footer %>
    </body>
</html>
