<footer>
    <div class="main cf">
        <div class="contactUs lFloat">
            <h6>联系我们</h6>
            <p>客服QQ: 1719616898</p>
            <p>工作日: 9:00 ~ 18:00</p>
            <p>邮箱: 1719616898@qq.com</p>
            <div class="iconsf"></div>
        </div>
        <div class="alipay lFloat">
            <h6>支付方式</h6>
            <img src="img/gt_43.png" />
            <img src="img/gt_43.png" />
            <p>
                <span>微信支付</span>
                <span>支付宝支付</span>
            </p>
        </div>
        <div class="serverlist rFloat">
            <ul class="cf">
                <li><a href="">设计服务</a></li>
                <li><a href="">私人定制</a></li>
                <li><a href="" class="active">联系我们</a></li>
                <li><a href="">咕德网络</a></li>
                <li><a href="">网站地图</a></li>
            </ul>
            <p>版权所有 @ 2015-2017 杭州咕德网络科技有限公司   Copyright @ Goodwangluo.com  <br>ALL Rights Reserved  浙 ICP 备 17020666号   （网站已申请版权保护，严禁抄袭  法律自负）</p>
        </div>
    </div>          
</footer>
<script type="text/javascript" src="js/jquery.min-1.11.3.js" ></script>
<script type="text/javascript" src="js/dialogBox.js" ></script>
<script type="text/javascript" src="js/common.js" ></script>
<script type="text/javascript" src="js/index.js" ></script>