<header class="nav bgwhite">
    <div class="main cf">
        <a href="/" class="logo lFloat"></a>
        <ul class="lFloat navList">
            <li><a href="/" class="btn">首页</a></li>
            <li><a href="/rengonggaitu" class="active btn">人工改图</a></li>
            <li><a href="/provide" class="btn">私人定制</a></li>
            <li><a href="/designlist" class="btn">设计服务</a></li>
            <li><a href="http://goodwangluo.cn" class="btn">网站制作</a></li>
            <li><a href="/contact" class="btn">联系我们</a></li>                   
        </ul>
        <a href="javascript:void(0)" class="releaseBtn rFloat">发布需求修改</a>
    </div>
</header>